.cover__list {
  list-style-type: none;
  margin: 0 0 18px;
  padding: 0;
}

.cover__list:last-child {
  margin: 0;
}

@media (max-width: 1279px) {
  .cover__list {
    margin: 0;
  }
  .cover__list:last-child {
    display: none;
  }
}
